<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shmotki</title>
    <link rel="stylesheet" href="korz.css">
</head>

<body>
    <div class="header">
        <img class="logo" src="/pict/qwe1.png">
        <% if (!user) { %>
            <a href="/main/another-page">
                <h1 class="fir">SHMOTKI</h1>
            </a>
            <% } else { %>
                <a href="/main/another-page?userId=<%= user.id %>">
                    <h1 class="fir">SHMOTKI</h1>
                </a>
                <% } %>

                    <div class="akk">
                        <% if (!user) { %>
                            <a href="/main/reg"> <img class="akkk" src="/pict/account-circle-line 1.png"></a>
                            <% } else { %>
                                <div class="text123">

                                    <a class="hrefpr" href="/main/profile?userId=<%= user.id %>">

                                        <% if(!user.name2){ %>
                                            <%= user.login %>
                                                <% }else{ %>
                                                    <%= user.name2 %>
                                                        <% } %>

                                    </a>

                                </div>
                                <% } %>
                                    <% if (!user) { %>
                                        <a href="/main/reg"> <img class="korz" src="/pict/korz.png"></a>
                                        <% } else { %>
                                            <a href="/main/korzina?userId=<%= user.id %>"><img class="korz" src="/pict/korz.png"></a>
                                            <% } %>
                    </div>

    </div>

    <div class="nav">
        <div class="main">
            <% if (!user) { %>
                <a href="/main" class="hrefmain">
                    <h1 class="nav1">ГЛАВНАЯ</h1>
                </a>
                <a href="/main/menart?raz=m" class="hrefmain">
                    <h1 class="nav2">МУЖСКОЕ</h1>
                </a>
                <a href="/main/menart?raz=j" class="hrefmain">
                    <h1 class="nav3">ЖЕНСКОЕ</h1>
                </a>
                <% } else { %>
                    <a href="/main?userId=<%= user.id %>" class="hrefmain">
                        <h1 class="nav1">ГЛАВНАЯ</h1>
                    </a>
                    <a href="/main/menart?userId=<%= user.id %>&raz=m" class="hrefmain">
                        <h1 class="nav2">МУЖСКОЕ</h1>
                    </a>
                    <a href="/main/menart?userId=<%= user.id %>&raz=j" class="hrefmain">
                        <h1 class="nav3">ЖЕНСКОЕ</h1>
                    </a>
                    <% } %>



        </div>
        <div class="cap">
            <h1 class="nav21 ">
                Корзина
            </h1>
        </div>
        <div class="sear">
            <textarea class="textsear" id="textsear" placeholder="Поиск..."></textarea>
            <img class="qwe" src="/pict/Group 509.png">
        </div>
    </div>

    </div>

    <h1 class="nav21 " style="color:white;">
        Ваши товары
    </h1>

    <a href="/main/zakaz?userId=<%= user.id %>&idshmot=all"> <button class="btn-zak" type="submit">Оформить заказ</button></a>

    <div class="elem-cont">
        <% let k=5 %>
            <% for(let i of korz) { %>
                <% for(let item of shmot){ %>
                    <% if(i.idshmot==item.id){ %>



                        <div class="elem">
                            <div class="pictclass">
                                <img class="imgart " src="/shmot/<%=item.picture%>">
                                <div class="reit">
                                    <%  if(((item.reit/item.reitkol)<1) || (item.reit==0) ) {%>
                                        <div class="rating-result">
                                            <span id="z1"></span>
                                            <span id="z2"></span>
                                            <span id="z3"></span>
                                            <span id="z4"></span>
                                            <span id="z5"></span>
                                        </div>
                                        <% }else if((item.reit/item.reitkol)>1 && (item.reit/item.reitkol)<2 ) {%>
                                            <div class="rating-result">
                                                <span id="z1" class="active"></span>
                                                <span id="z2"></span>
                                                <span id="z3"></span>
                                                <span id="z4"></span>
                                                <span id="z5"></span>
                                            </div>

                                            <% }else if((item.reit/item.reitkol)<=2){%>
                                                <div class="rating-result">
                                                    <span id="z1" class="active"></span>
                                                    <span id="z2" class="active"></span>
                                                    <span id="z3"></span>
                                                    <span id="z4"></span>
                                                    <span id="z5"></span>
                                                </div>


                                                <% }else if((item.reit/item.reitkol) <=3){%>
                                                    <div class="rating-result">
                                                        <span id="z1" class="active"></span>
                                                        <span id="z2" class="active"></span>
                                                        <span id="z3" class="active"></span>
                                                        <span id="z4"></span>
                                                        <span id="z5"></span>
                                                    </div>


                                                    <% }else if((item.reit/item.reitkol)<=4){%>
                                                        <div class="rating-result">
                                                            <span id="z1" class="active"></span>
                                                            <span id="z2" class="active"></span>
                                                            <span id="z3" class="active"></span>
                                                            <span id="z4" class="active"></span>
                                                            <span id="z5"></span>
                                                        </div>


                                                        <% }else if((item.reit/item.reitkol)<=5){%>
                                                            <div class="rating-result">
                                                                <span id="z1" class="active"></span>
                                                                <span id="z2" class="active"></span>
                                                                <span id="z3" class="active"></span>
                                                                <span id="z4" class="active"></span>
                                                                <span id="z5" class="active"></span>
                                                            </div>

                                                            <% }%>
                                </div>
                            </div>
                            <div class="content">
                                <div class="name">
                                    <%= item.name %>
                                </div>
                                <div class="cont">
                                    <%= item.content %>
                                </div>
                                <div class="rz-cl">
                                    <div class="razm">
                                        Размер:
                                        <div class="gold">
                                            <%= i.rz%>
                                        </div>
                                    </div>
                                    <div class="cl">
                                        Цвет:
                                        <div class="gold">
                                            <%=i.cl %>
                                        </div>
                                    </div>
                                    <div class="kol">
                                        На складе:
                                        <div class="gold">
                                            <%= item.kol %>
                                        </div>
                                    </div>
                                </div>
                                <div class="kol-reit">
                                    <form action="/main/reiting?sh=<%= item.id %>&user=<%= user.id %>" method="post">

                                        <div class="reiting">
                                            <div class="reiting-items">
                                                <input id="s<%= k %>" type="radio" class="reit-item" name="reitrad" value="5">
                                                <label for="s<%= k %>" class="reit-item-label"></label>
                                                <input id="s<%= k-1 %>" type="radio" class="reit-item" name="reitrad" value="4">
                                                <label for="s<%= k-1 %>" class="reit-item-label"></label>
                                                <input id="s<%= k-2 %>" type="radio" class="reit-item" name="reitrad" value="3">
                                                <label for="s<%= k-2 %>" class="reit-item-label"></label>
                                                <input id="s<%= k-3 %>" type="radio" class="reit-item" name="reitrad" value="2">
                                                <label for="s<%= k-3 %>" class="reit-item-label"></label>
                                                <input id="s<%= k-4 %>" type="radio" class="reit-item" name="reitrad" value="1">
                                                <label for="s<%= k-4 %>" class="reit-item-label"></label>
                                            </div>
                                        </div>
                                        <button class="otz" type=" submit ">Отправить отзыв</button>

                                    </form>
                                    <div class="kolich">
                                        Количество:
                                        <div class="gold">
                                            <%= i.kol %>
                                        </div>
                                    </div>
                                </div>
                                <div class="itog">
                                    <a href="/main/zakaz?userId=<%= user.id %>&idshmot=<%= i.id %>"> <button class="te1">  Итоговая сумма
                                        <%= item.cost*i.kol %> BYN</button></a>

                                </div>
                            </div>
                        </div>

                        <% } %>
                            <% } %>
                                <% k=k+13; %>
                                    <% } %>


    </div>
    <div class="footer ">
        <div class="about ">
            <div class="info ">
                <h1 class="gold ">Информация</h1>

                <div>Как сделать заказ?</div>
                <div>Доставка</div>
                <div>Обмен и возврат</div>
                <div>Способы оплаты</div>
                <div>Юридическая Информация</div>
            </div>
            <div class="service ">
                <div class="ser ">
                    <h1 class="gold ">О компании</h1>
                    <div>О нас</div>
                    <div>Контакты</div>
                    <div>Вакансии</div>

                </div>
            </div>
            <div class="out ">
                <div class="ouut ">
                    <h1 class="gold ">Сотрудничество</h1>
                    <div>Оптовым клиентам</div>
                    <div>Дизайнерам</div>
                    <div>Партнерская программа</div>
                    <div>Корпоративным клиентам</div>
                </div>
            </div>
            <div class="we ">
                <div class="wee ">
                    <h1 class="gold ">Свяжитесь с нами</h1>
                    <div>shmotki@yandex.by </div>
                    <div>+375 33 333-33-33</div>

                </div>
            </div>
            <div class="follow ">
                <div class="folow ">
                    <h1 class="gold cos ">Мы в Соц-сетях</h1>
                    <div class="share ">
                        <div><img src="/pict/twitter-fill 1.png "></div>
                        <div><img src="/pict/instagram-fill 1.png "></div>
                        <div><img src="/pict/facebook-fill 1.png "></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="bottom ">
            <div class="desc ">

                <h1> © 2018 Ecommerce theme by www.bisenbaev.com</h1>

            </div>
            <div class="icon ">
                <div><img src="/pict/Western-union.png "></div>
                <div><img src="/pict/master.png "></div>
                <div><img src="/pict/visa.png "></div>
                <div><img src="/pict//Paypal.png "></div>
            </div>
        </div>
    </div>
</body>

</html>